aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
Brotli==1.0.9
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cssselect2==0.7.0
fonttools==4.40.0
frozenlist==1.3.3
html5lib==1.1
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.3
multidict==6.0.4
openai==0.27.8
Pillow==9.5.0
pycparser==2.21
pydyf==0.6.0
pyphen==0.14.0
requests==2.31.0
six==1.16.0
tinycss2==1.2.1
tqdm==4.65.0
urllib3==2.0.3
weasyprint==59.0
webencodings==0.5.1
yarl==1.9.2
zopfli==0.2.2
